<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> "systems/witchcraft/templates/components/item-sheet-header.hbs"}}

    <section>
        <div class="description-container">
            {{> "systems/witchcraft/templates/components/item-attribute-sidebar.hbs" notAspect=true}}
            {{> "systems/witchcraft/templates/components/item-description-sidebar.hbs"}}
        </div>
    </section>
</form>
