<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> "systems/witchcraft/templates/components/item-sheet-header.hbs"}}

    <section>
        <div class="description-container">
            <div class="item-attribute-sidebar">
                <h2>Attributes</h2>
                <table>
                    <tbody>
                        <tr>
							<th>Cost</th>
							<td><input type="number" name="system.cost" value="{{item.system.cost}}"></td>
						</tr>
						<tr>
                            <th>Level (or Art)</th>
                            <td><input type="number" name="system.level" value="{{item.system.level}}"></td>
                        </tr>
                        <tr>
                            <th>Strength</th>
                            <td><input type="number" name="system.strength" value="{{item.system.strength}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{> "systems/witchcraft/templates/components/item-description-sidebar.hbs"}}
        </div>
    </section>
</form>
