<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> "systems/witchcraft/templates/components/item-sheet-header.hbs"}}

    <section>
        <div class="description-container">
            <div class="item-attribute-sidebar">
            </div>
            {{> "systems/witchcraft/templates/components/item-description-sidebar.hbs"}}
        </div>
    </section>
</form>
