<div class="portrait-container">
    <img class="profile-img" data-edit="img" src="{{actor.img}}">
    <div class="profile-tags-container">
        <div class="tags-flex-container"></div>
    </div>
</div>